.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
  padding: 100px 0px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
}

.footer-info {
  display: inline-block;
  margin-right: 120px;
  max-width: 264px;
}

.footer-socials {
  display: inline-block;
  vertical-align: top;
  max-width: 208px;
}

.footer-socials-title {
  font-weight: 500;
}

.footer-socials .socials {
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
  background-color: var(--green);
}
